.project
test-results/
app/tmp/
app/routes/
public/node_modules
public/vendor
public/.sass-cache
public/js
web/node_modules
*npm-debug.log
nodejs/node_modules
nodejs/config.js
.idea
conf/app.conf
*dump.rdb