//load bootstrap variable first and override it by theme forest
//custom variable
//$brand-primary:         #F2784B !default;
$brand-primary:         #f16a38 !default;
$header-menu-bg-color: $brand-primary !default;
$header-hor-menu-bg-color: $brand-primary !default;
$icon-font-path: "/vendor/bootstrap/fonts/" !default;

@import "sass/bootstrap/variables";

//other mixin
@import "sass/bootstrap/mixins";

// Reset and dependencies
@import "sass/bootstrap/normalize";
@import "sass/bootstrap/print";
@import "sass/bootstrap/glyphicons";

// Core CSS
@import "sass/bootstrap/scaffolding";
@import "sass/bootstrap/type";
@import "sass/bootstrap/code";
@import "sass/bootstrap/grid";
@import "sass/bootstrap/tables";
@import "sass/bootstrap/forms";
@import "sass/bootstrap/buttons";

// Components
@import "sass/bootstrap/component-animations";
@import "sass/bootstrap/dropdowns";
@import "sass/bootstrap/button-groups";
@import "sass/bootstrap/input-groups";
@import "sass/bootstrap/navs";
@import "sass/bootstrap/navbar";
@import "sass/bootstrap/breadcrumbs";
@import "sass/bootstrap/pagination";
@import "sass/bootstrap/pager";
@import "sass/bootstrap/labels";
@import "sass/bootstrap/badges";
@import "sass/bootstrap/jumbotron";
@import "sass/bootstrap/thumbnails";
@import "sass/bootstrap/alerts";
@import "sass/bootstrap/progress-bars";
@import "sass/bootstrap/media";
@import "sass/bootstrap/list-group";
@import "sass/bootstrap/panels";
@import "sass/bootstrap/responsive-embed";
@import "sass/bootstrap/wells";
@import "sass/bootstrap/close";

// Components w/ JavaScript
@import "sass/bootstrap/modals";
@import "sass/bootstrap/tooltip";
@import "sass/bootstrap/popovers";
@import "sass/bootstrap/carousel";

// Utility classes
@import "sass/bootstrap/utilities";
@import "sass/bootstrap/responsive-utilities";


@import "sass/global/components";
@import "sass/global/plugins";