//$brand-primary:         #F2784B !default;
$brand-primary:         #f16a38 !default;

@import 'sass/global/_variables';
@import "sass/global/components/_mixins";
@import "sass/admin/layout3/layout";
@import "sass/custom/main-theme";
@import "sass/admin/layout3/themes/base";


.page-logo
{
  img
  {
    margin-top: 26px;
    height: 23px;
  }
}

.feeds li.notification
{
  cursor: pointer;
}

.form-actions, .form-body
{
  .btn
  {
    border-radius: 4px !important;
  }

  .input-group-btn
  {
    .btn
    {
      border-radius: 0px !important;
    }
  }
}

.spinner-loading {
  font-size: 50px;
  min-height: 400px;
  line-height: 400px;
}

.text-center {
  text-align: center;
}


.required-label:before
{
  color: #f00;
  content: "*";
}

.page-prefooter
{
  background: #CECECE !important;
}

.shelfie-template-img
{
  width: 100%;
}

.btn.btn-default.green.btn-circle
{
  color: white !important;
}

.noEntry
{
  text-align: center;
  font-weight: bold;
  min-height: 300px;
  line-height: 300px;
  font-size: 17px;
}

.recent-item-table-wrapper
{
  table
  {
    tr
    {
      th, td
      {
        text-align: center;
      }
    }
  }
}

.page-toolbar {
  .btn-theme-panel
  {
    font-size: 14px;
    color: #f16a38;
    cursor: pointer;

    &:hover
    {
      opacity: 0.7;
    }
  }

  .fa.fa-cloud-upload
  {
    font-size: 21px;
  }
}

.page-content
{
  min-height: 1000px;

  &.dashboard
  {
    .notification
    {
      .scroller
      {
        overflow-y: scroll;
      }
    }

    .tab-content
    {
      .percentage
      {
        font-size: 16px;
      }
    }
  }
}

//for display date picker in modal
#ui-datepicker-div
{
  z-index: 10404 !important;
}

.recent-item-table-wrapper
{
  height: 300px;
  overflow-y: scroll;
}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.fa-spin
{
  color: $brand-primary;
}

.fa.fa-upload
{
  color: $brand-primary;
}

.select2-container {
  width: 100%;
  margin-bottom: 10px;
}

.page-prefooter {
  .subscribe-form {
    .btn.green {
      @include button-variant(#fff, lighten(#35aa47, 3%), "");
    }
  }
}

.input-group-btn
{
  & > .btn.default
  {
    height: 34px;
  }
}

.portlet-title
{
  > .caption
  {
    color: $brand-primary !important;

    > i
    {
      color: $brand-primary !important;
    }
  }
}

.align-center
{
  text-align: center;
}

.page-prefooter
{
  h2
  {
    color: white;
  }

  .subscribe-form
  {
    .form-control
    {
      background: white;
      border-color: $brand-main-color;
      border-right: none;
      @include placeholder(lighten(black, 2%));
    }

    .btn {
      @include button-variant(#fff, lighten(#58b8a9, 3%), "");
    }
  }

  .social-icons li
  {
    opacity: 1;

    > a
    {
      background-position: 0 -38px;
    }
  }

  a
  {
    color: #444;
  }
}

.page-content.content-inner-page
{
  min-height: 850px;
}

//override the component style
.switch-ios.switch-light a
{
  border-radius: 100% !important;
}

@media (max-width: 500px) {
  .page-logo
  {
    display: none !important;
  }
}

.switch-light
{
  display: inline-block;
  margin-left: 10px;
  margin-bottom: -10px;

  & > span:before
  {
    height: 30px !important;
  }
}


//inline date icon
.form-control.date-picker
{
  width: auto;
  display: inline-block !important;
}
