<!-- BEGIN LOGIN FORM -->
<div>
    <form class="login-form" name="loginForm" method="post" ng-submit="login()">
        <h3 class="form-title primary-text bold">Login</h3>

        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
			<span>
			Enter any username and password. </span>
        </div>

        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">Email</label>
            <input class="form-control placeholder-no-fix"
                   ng-model="userInput.email"
                   autofocus
                   type="text" autocomplete="off"
                   placeholder="Enter your email" name="username"/>
        </div>

        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            <input class="form-control placeholder-no-fix"
                   id="password"
                   ng-model="userInput.password"
                   ui-keypress="{13:'login($event)'}"
                   type="password" autocomplete="off"
                   placeholder="Enter your password" name="password"/>
        </div>

        <div class="form-actions">
            <div style="margin-bottom: 21px; margin-top: 24px;">
                <label class="rememberme check">
                    <input type="checkbox"
                           style="margin-left: -7px; margin-right: 7px;"
                           ng-model="userInput.remember"
                           ng-click="rememberMe=!rememberMe"
                           name="remember"/>Keep me logged in</label>
                <a ui-sref="forgotPassword" id="forget-password" class="forget-password">Reset Password?</a>
            </div>

            <div>
                <button type="submit" class="btn btn-main uppercase">Login</button>
            </div>
        </div>

        <div class="login-options">
            <h4>Or login with</h4>
            <ul class="social-icons">
                <li>
                    <a class="social-icon-color facebook" data-original-title="facebook" href="#"></a>
                </li>
                <li>
                    <a class="social-icon-color twitter" data-original-title="Twitter" href="#"></a>
                </li>
                <li>
                    <a class="social-icon-color googleplus" data-original-title="Goole Plus" href="#"></a>
                </li>
                <li>
                    <a class="social-icon-color linkedin" data-original-title="Linkedin" href="#"></a>
                </li>
            </ul>
        </div>

        <!--Register-->
        <div class="create-account bottom-bar">
            <a ui-sref="register" id="register-btn" style="color: white;"
               class="uppercase">Create an account</a>
        </div>
    </form>
</div>
<!-- END LOGIN FORM -->
