<div>
    <!-- BEGIN FORGOT PASSWORD FORM -->
    <form class="forget-form"
          ng-show="formSwitch=='forgot-password'"
          name="forgotPasswordForm"
          class="form-vertical forget-form"
          ng-submit="(forgotPasswordForm.submitted=true) && forgotPasswordForm.$valid && requestPasswordReset(resetEmail)"
          method="post">
        <h3 class="primary-text bold">Reset Password ?</h3>

        <div class="row alert alert-danger" ng-show="forgotPasswordForm.errorMessage">
            <i class="fa fa-info-circle info"></i>
            <span ng-bind="forgotPasswordForm.errorMessage"></span>
        </div>

        <div ng-show="forgotPasswordForm.passwordResetSent" class="row alert alert-info password-reset-sent">
            <i class="fa fa-info-circle info"></i>
            An email has been sent to you. Please follow the instructions provided in the email to reset your password.
        </div>

        <p>
            A link to reset your password will be sent there
        </p>
        <div class="form-group">
            <label class="text-danger help-inline help-small no-left-padding"
                   ng-show="forgotPasswordForm.submitted && forgotPasswordForm.email.$invalid">
                The email is invalid.
            </label>
            <input class="form-control placeholder-no-fix"
                   type="email"
                   ng-model="resetEmail"
                   autocomplete="off" placeholder="Email to send password to"
                   autofocus required
                   name="email"/>
        </div>

        <div class="form-actions">
            <a type="button" ui-sref="login" id="back-btn" class="btn btn-default">BACK</a>
            <button type="submit"
                    ng-disabled="forgotPasswordForm.passwordResetSent"
                    class="btn btn-main uppercase pull-right">Submit</button>
        </div>

        <div class="bottom-bar"> </div>
    </form>
    <!-- END FORGOT PASSWORD FORM -->


    <!--ACTUAL RESET STEP-->
    <form ng-show="formSwitch=='reset-password'"
          name="resetPasswordForm" class="form-vertical forget-form"
          ng-submit="(resetPasswordForm.submitted=true) && resetPasswordForm.$valid && resetPassword(newPassword)">

        <h3 class="primary-text bold">Reset Password ?</h3>

        <div class="row alert alert-danger" ng-show="resetPasswordForm.errorMessage">
            <i class="fa fa-info-circle info"></i>
            <span ng-bind="resetPasswordForm.errorMessage"></span>
        </div>

        <div ng-show="resetPasswordForm.resetSuccess" class="row alert alert-info password-reset-sent">
            <i class="fa fa-info-circle info"></i>
            Your password has been successfully reset. Click
            <a ui-sref="login"><strong>here</strong></a> to go to the login page.
        </div>

        <span ng-hide="!!resetPasswordForm.resetSuccess">
            <p>
                Please enter your new password.
            </p>

            <!--form-->
            <div class="form-group">
                <label class="text-danger help-inline help-small no-left-padding"
                       ng-show="resetPasswordForm.submitted && resetPasswordForm.password.$invalid">
                    Password must be at least 6 characters long.
                </label>
                <input class="form-control"
                       type="password" autocomplete="off"
                       placeholder="Password"
                       ng-model="newPassword"
                       ng-minlength=6
                       name="password" required/>
            </div>

            <div class="form-group">
                <label class="text-danger help-inline help-small no-left-padding"
                       ng-show="resetPasswordForm.submitted && resetPasswordForm.confirmPassword.$invalid">
                    The passwords are different.
                </label>
                <input class="form-control"
                       type="password" autocomplete="off"
                       placeholder="Re-type Your Password"
                       ng-model="confirmPassword"
                       ng-change="resetPasswordForm.confirmPassword.$setValidity('confirmPassword',resetPasswordForm.password.$viewValue==resetPasswordForm.confirmPassword.$viewValue)"
                       name="confirmPassword" required/>
            </div>

            <div class="form-actions">
                <a type="button" ui-sref="login" class="btn btn-default">BACK</a>
                <button type="submit"
                        ng-disabled="resetPasswordForm.resetSuccess"
                        class="btn btn-main uppercase pull-right">Submit</button>
            </div>
        </span>

        <div class="bottom-bar"> </div>
    </form>
    <!--END ACTUAL REST STEP-->
</div>



