<!DOCTYPE html>

<html>
    <head>
        <title>{{.title}}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
        <link href="/public/vendor/metro/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="/public/vendor/metro/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
        <link href="/public/vendor/metro/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/public/vendor/metro/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
        <!-- END GLOBAL MANDATORY STYLES -->

        <!-- BEGIN THEME STYLES -->
        <link href="/public/vendor/metro/global/css/components.css" rel="stylesheet" type="text/css"/>
        <link href="/public/vendor/metro/global/css/plugins.css" rel="stylesheet" type="text/css"/>
        <link href="/public/vendor/metro/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
        <link href="/public/vendor/metro/admin/layout3/css/themes/yellow-orange.css" rel="stylesheet" type="text/css" id="style_color">
        <link href="/public/vendor/metro/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>

        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="/public/css/login-main.css" rel="stylesheet" type="text/css"/>
        <!-- END PAGE LEVEL SCRIPTS -->

        <!-- Jquery min styles -->
        <script src="/public/vendor/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="/public/vendor/metro/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

        {{range .moreStyles}}
        <link rel="stylesheet" type="text/css" href="/public/{{.}}">
        {{end}}
        {{range .moreScripts}}
        <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
        {{end}}
    </head>
<body class="login">
<div class="container">
    <div class="row">
        <div class="span6">
            {{template "flash.html" .}}
        </div>
    </div>
</div>

<!-- BEGIN LOGO -->
<div class="logo login-logo">
    <a href="#">
        <!--<img src="/images/main-logo.png" alt="Main logo"/>-->
    </a>
</div>
<!-- END LOGO -->
